/*=============================================== Colors ===============================================*/

$black: #000;
$gray: #555555;
$white: #fff;
$purple: #18172d;
$dark-blue: #3a405a;
$dark-gray: #1d2226;
$light-gray: #7F7F7F;
$transparent: transparent;
$bg-header: rgba($dark-gray, .8);

/*=============================================== Background colors ===============================================*/

.bg-black {
	background-color: $black;
	color: $white;
}

.bg-light-gray {
	background-color: $light-gray;
	color: $white;
}

.bg-gray {
	background-color: $gray;
	color: $white;
}

.bg-white {
	background-color: $white;
	color: $black;
}

.bg-purple {
	background-color: $purple;
	color: $white;
}

.bg-dark-blue {
	background-color: $dark-blue;
	color: $white;
}

.bg-dark-gray {
	background-color: $dark-gray;
	color: $white;
}