---
layout: default
---

<div class="cover-home" style="background: url(/assets/images/{{page.cover}});">
	<div class="title">
		<h1>{{ site.title }}</h1>
		<div class="type-wrap">
			<div id="typed-strings">
				{% for typed in page.typeds %}
				<h2>{{ typed }}</h2>
				{% endfor %}
			</div>
			<span id="typed" style="white-space:pre;"></span>
		</div>
    </div>
    
    <div class="intro">
        {{ page.intro | markdownify }}
        <img src="/assets/images/logo.svg" alt="Arrow down" class="arrow-logo">
    </div>
</div>

<div class="container container-home">
    {% assign projects = site.projects | sort: "order" %}
    {% for project in projects %}
    <div class="project-list">
        <a href="{{ project.url }}">
            <div class="cover-project-home" style="background: url(/assets/images{{project.cover}});"></div>
            <div class="purple-bg"></div>
            <p>{{ project.title }}</p>
        </a>
    </div>
    {% endfor %}
</div>